openapi: 3.0.1
info:
  title: DILA - Légifrance Beta
  description: >
    Afin de faciliter la réutilisation des données juridiques, la DILA met à disposition du public une API de Légifrance en version bêta.<br />
    Ce document a pour objectif de décrire les méthodes de l'API Légifrance, présentées à l’aide du framework Swagger.<br />
    Vous pouvez également télécharger une [documentation complémentaire](https://beta.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/description-des-tris-et-filtres-de-l-api.xlsx) ainsi que des [exemples d’utilisation](https://beta.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/exemples-d-utilisation-de-l-api.docx) de l'API.<br />
    <br />
    Cet accès vous permet d’expérimenter l'API sur un environnement de test et de vous familiariser avec les différentes méthodes.<br />
    <br />
    À noter<br />
    - L'environnement de test peut être indisponible.<br />
    - Les appels sont limités par quotas.<br />
    <br />
    Les mises à jour correctives et évolutives sont réalisées dans un premier temps sur cet environnement. La version de l'API correspond à celle du site bêta de Légifrance.<br />
    <br />
    Les données ne sont pas identiques à celles de Production.<br />
    <br />
    L'API Légifrance est mise à disposition sous [conditions](https://beta.legifrance.gouv.fr/contenu/pied-de-page/open-data-et-api).<br />
    <br />
    Pour toute question, vous pouvez écrire à l'adresse retours-legifrance-modernise@dila.gouv.fr.<br />
  version: 0.3.1
servers:
- url: https://api.aife.economie.gouv.fr/dila/legifrance-beta/lf-engine-app
security:
- OAuthImplicit:
  - openid
- OAuthAccessCode:
  - openid
paths:
  /api/oauth/token:
    post:
      summary: Génère un token d'authentification
      description: Permet de générer un "Bearer Token" pour utiliser l'API
      servers:
        - url: https://oauth.aife.economie.gouv.fr/api/oauth/token
          description: Serveur d'authentification
      requestBody:
        description: request
        content:
          application/x-www-urlencoded:
            schema:
              $ref: '#/components/schemas/OauthImplicitRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthImplicitResponse'
        '401':
          description: Unauthorized
          content: {}
  /chrono/textCid/{textCid}:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Vérifie si un texte possède des versions
      description: Indique si un texte possède des versions chrono à partir de l'identifiant
        du texte
      operationId: hasVersionByTextCidUsingGET
      parameters:
      - name: textCid
        in: path
        description: Chronical ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HasChronolegiResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /consult/jorfCont:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste de sommaire JORF
      description: Récupère la liste de conteneurs/sommaires JORF
      operationId: displayJorfContUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JorfContConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJosResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/dossierLegislatif:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu d'un dossier législatif
      description: Récupère le contenu d'un dossier legislatif par son identifiant
      operationId: displayDossierLegislatifUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DossierLegislatifRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultDossierLegislatifResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /list/docsAdmins:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des documents administratifs
      description: Permet de récupérer la liste des documents administratifs pour
        une période donnée
      operationId: listDocsAdminsUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocsAdminsListRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocsAdminsListResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /suggest/acco:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Suggestions des siret et raisons sociale pour les accords
      description: Effectue les suggestions siret et raisons sociales sur les accords
        d'entreprise à partir d'une chaine de caractères
      operationId: siretRcSuggestUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestAccoResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/juri:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu texte fonds JURI
      description: Récupère le contenu d'un texte du fonds JURI à partir de son identifiant
      operationId: displayJuriUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JuriConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultJuriTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /chrono/textCid:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Version d'un texte
      description: Récupère une version spécifique d'un texte à partir de l'identifiant
        du texte
      operationId: getVersionByTextCidUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChronoLegiTextRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChronolegiResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/getTables:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des tables annuelles
      description: Permet de récupérer l'ensemble des tables annuelles pour une période
        donnée
      operationId: getTablesUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTableResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/legiPart:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu texte fonds LEGI
      description: Récupère le contenu d'un texte du fonds LEGI à partir de son identifiant
        et de sa date de vigueur
      operationId: displayLegiPartUsingPOST
      requestBody:
        description: legiConsultRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegiConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: legiConsultRequest
  /misc/commitId:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Informations déploiement et versionning
      description: Récupère les informations relatives au déploiement et au versionning
        de l'application
      operationId: getCommitIdUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /list/dossiersLegislatifs:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste paginée des dossiers législatifs
      description: Récupère les dossiers législatifs dans une liste paginée
      operationId: listDossiersLegislatifsUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DossiersLegislatifsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DossiersLegislatifsListResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /misc/datesWithoutJo:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des dates sans JO
      description: Permet de récupérer l'ensemble des dates pour lesquelles il n'existe
        pas de Journal Officiel
      operationId: getDatesWithoutJoUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatesWithNoJoResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /list/conventions:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste paginée des conventions
      description: Récupère les conventions dans une liste paginée
      operationId: listConventionsUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConventionsListRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConventionsListResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/jorf:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu texte fonds JORF
      description: Récupère le contenu d'un texte du fonds JORF à partir de son identifiant
      operationId: displayJorfUsingPOST
      requestBody:
        description: jorfConsultRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JorfConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultJorfResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: jorfConsultRequest
  /consult/lastNJo:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Derniers journaux officels
      description: Récupère les derniers journaux officiels
      operationId: getLastNJoUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LastNElementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJorfContResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/ping:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Teste le controller
      description: Retourne pong
      operationId: pingUsingGET_1
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /consult/kaliArticle:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu des conventions collectives depuis un article
      description: Récupère le contenu d'un texte du fonds des conventions collectives
        (KALI) à partir de l'identifiant de son article
      operationId: displayKaliArticleUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KaliTextConsultArticleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultKaliTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /list/loda:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste paginée des textes de type LODA
      description: Récupère les éléments de type LODA dans une liste paginée
      operationId: listLODAUsingPOST
      requestBody:
        description: Critères de pagination de la liste LODA
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LODAListRequest'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LODAListResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/kaliSection:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu des conventions collectives depuis une section
      description: Récupère le contenu d'un texte du fonds des conventions collectives
        (KALI) à partir de l'identifiant de sa section
      operationId: displayKaliSectionUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KaliTextConsultSectionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultKaliTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/kaliCont:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu des conteneurs des conventions collectives
      description: Récupère le contenu d'un conteneur du fonds des conventions collectives
        (KALI) à partir de son identifiant
      operationId: displayKaliContUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KaliContConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultKaliContResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /list/legislatures:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des législatures
      description: Récupère les législatures
      operationId: listLegislaturesUsingPOST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegislaturesListResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /search/nearestVersion:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Récupération des infos de la version la plus proche
      description: Permet de récupérer le titre et la section de la version d'un texte
        la plus proche d'une date donnée
      operationId: searchNearestVersionUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchNearestVersionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchNearestVersionResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/code/tableMatieres:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu table des matières d'un CODE
      description: Récupère la table des matières d'un texte de type CODE à partir
        de son identifiant et de sa date de vigueur
      operationId: displayCodeTableOfContentsUsingPOST
      requestBody:
        description: codeConsultRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: codeConsultRequest
  /consult/sameNumArticle:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des articles ayant eu le même numéro
      description: Permet de récupérer les liens des articles ayant eu le même numéro
        que l'article en cours dans des versions précédentes du texte
      operationId: displaySameNumArticleUsingPOST
      requestBody:
        description: sameNumArticleRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SameNumArticleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsRevisionArticleResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: sameNumArticleRequest
  /consult/concordanceLinksArticle:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des liens de concordance d'un article
      description: Permet de récupérer les liens de concordance d'un article
      operationId: displayConcordanceLinksArticleUsingPOST
      requestBody:
        description: concordanceLinksRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConcordanceLinksRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionsRevisionArticleResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: concordanceLinksRequest
  /consult/code:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu texte type CODE
      description: Récupère le contenu d'un texte de type CODE à partir de son identifiant
        et de sa date de vigueur
      operationId: displayCodeUsingPOST
      requestBody:
        description: codeConsultRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: codeConsultRequest
  /search:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Recherche générique des documents indexés
      description: Permet de faire une recherche de documents. On peut préciser le
        fond, les filtres textuels, les facettes et la pagination
      operationId: searchUsingPOST
      requestBody:
        description: jsonRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponseDTO'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: jsonRequest
  /list/ping:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Teste le controller
      description: Retourne pong
      operationId: pingUsingGET_3
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /chrono/ping:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Teste le controller
      description: Retourne pong
      operationId: pingUsingGET
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /consult/kaliText:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu des conventions collectives
      description: Récupère le contenu d'un texte du fonds des conventions collectives
        (KALI) à partir de son identifiant
      operationId: displayKaliTextUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KaliTextConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultKaliTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/getArticle:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu d'un article
      description: Récupère un article par son identifiant
      operationId: getArticleUsingPOST
      requestBody:
        description: articleRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArticleResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: articleRequest
  /consult/lawDecree:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu texte type LODA
      description: Récupère le contenu d'un texte de type LODA à partir de son identifiant
        et de sa date de vigueur
      operationId: displayLawDecreeUsingPOST
      requestBody:
        description: lawDecreeConsultRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LawDecreeConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: lawDecreeConsultRequest
  /consult/kaliContIdcc:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu des conteneurs des conventions collectives
      description: Récupère le contenu d'un conteneur du fonds des conventions collectives
        (KALI) à partir de son idcc
      operationId: displayKaliContByIdccUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KaliContConsultIdccRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultKaliContResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /suggest:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Suggestions de résultats
      description: Effectue les diverses suggestions sur les différents fonds à partir
        d'une chaine de caractères et de la liste des fonds sélectionnés
      operationId: crossSearchUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestSupplyRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/getArticleByCid:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu des versions d'un article
      description: Récupère la liste des articles par leur identifiant commun
      operationId: getArticleByCidUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArticleCidRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetListArticleResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/eliAndAliasRedirectionTexte:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu des textes du JO.
      description: Récupère le contenu d'un texte du fonds JORF à partir de son idEli
        ou idEliAlias
      operationId: getJoCidWithEliOrAliasUsingPOST
      requestBody:
        description: jorfConsultWithIdEliAliasRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JorfConsultWithIdEliAliasRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultJorfResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: jorfConsultWithIdEliAliasRequest
  /misc/yearsWithoutTable:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des années sans table
      description: Permet de récupérer l'ensemble des années sans table annuelle
      operationId: getYearsWithoutTableUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearsWithNoTableResponse'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /list/code:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste paginée des codes
      description: Récupère les codes dans une liste paginée
      operationId: listCodeUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeListRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeListResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/acco:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu d'un accord d'entreprise
      description: Récupère le contenu d'un accord d'entreprise à partir de son identifiant
      operationId: displayAccoUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccoConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultAccoResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/cnil:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu texte fonds CNIL
      description: Récupère le contenu d'un texte du fonds CNIL à partir de son identifiant
      operationId: displayCnilUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CnilConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultCnilTextResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /search/ping:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Teste le controller
      description: Retourne pong
      operationId: pingUsingGET_4
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /chrono/textCidAndElementCid:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Extrait d'une version d'un texte
      description: Récupère un extrait (section ou article) d'une version spécifique
        d'un texte à partir des identifiants du texte et de l'extrait (section ou
        article)
      operationId: getVersionByTextCidAndElementCidUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChronoLegiArticleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChronolegiResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /suggest/ping:
    get:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Teste le controller
      description: Retourne pong
      operationId: pingUsingGET_5
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
  /consult/jorfPart:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu texte fonds JORF
      description: Récupère le contenu d'un texte du fonds JORF à partir de l'identifiant
        d'une de ses sections ou articles
      operationId: displayJorfPartUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JorfConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultJorfResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/circulaire:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Contenu d'une circualire
      description: Récupère le contenu d'une circulaire à partir de son identifiant
      operationId: displayCirculaireUsingPOST
      requestBody:
        description: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CirculaireConsultRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultCirculaireResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: request
  /consult/relatedLinksArticle:
    post:
      security:
        - OAuthImplicit: [openid]
        - OAuthAccessCode: [openid]
      summary: Liste des liens relatifs d'un article
      description: Permet de récupérer les liens relatifs d'un article donné
      operationId: displayRelatedLinksArticleUsingPOST
      requestBody:
        description: relatedLinksArticleRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelatedLinksArticleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedLinksArticleResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: relatedLinksArticleRequest
components:
  schemas:
    OauthImplicitRequest:
      title: OauthImplicitRequest
      type: object
      properties:
        grant_type:
          type: string
          enum: [client_credentials]
          required: true
        scope:
          type: string
          enum: [openid]
        client_id:
          type: string
          required: true
          example: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
          description: Oauth2 Client-ID
        client_secret:
          type: string
          required: true
          example: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
          description: Oauth2 Client-Secret
    OauthImplicitResponse:
      title: OauthImplicitResponse
      type: object
      properties:
        access_token:
          type: string
          description: "Token à ajouter aux requêtes sous la forme du header 'Authorization: Bearer {access_token}'"
        token_type:
          type: string
          enum: [Bearer]
        expires_in:
          type: integer
          format: int32
          example: 3600
        scope:
          type: string
          example: openid resource.READ
    KaliTextConsultArticleRequest:
      title: KaliTextConsultArticleRequest
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Identifiant du texte ou d'un de ses éléments enfants (section/article)
          example: KALIARTI000005833238
      description: Requête de consultation d'un texte d'une convention collective
    SuggestRequest:
      title: SuggestRequest
      type: object
      properties:
        searchText:
          type: string
          description: Texte à rechercher
          example: mariage
      description: Requête de suggestion d'une recherche textuelle
    DossierResult:
      title: DossierResult
      type: object
      properties:
        idTexte:
          type: string
          description: Identifiant du texte
          example: JORFTEXT000037882341
        libelleTexte:
          type: string
          description: Titre du texte
          example: LOI n° 2018-1317 du 28 décembre 2018 de finances pour 2019
      description: Objet représentant un dossier
    GetArticleResponse:
      title: GetArticleResponse
      type: object
      properties:
        article:
          $ref: '#/components/schemas/Article'
        dereferenced:
          type: boolean
          description: Identifie si le contenu est référençable par les robots d'indexation
          example: true
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
      description: réponse de consultation d'un article
    ModificateurDTO:
      title: ModificateurDTO
      type: object
      properties:
        id:
          type: string
          description: Identifiant
          example: LEGIARTI000006687518
        idParent:
          type: string
          description: Identifiant de l'élément parent du modificateur (texte/section
            ...)
        idText:
          type: string
          description: Identifiant du texte du modificateur
          example: LEGITEXT000006072665
        name:
          type: string
          description: Titre du modificateur
          example: Code de la santé publique - art. L2211-1 (V)
        nature:
          type: string
          description: Nature
          example: CODE
          enum:
          - LODA
          - JORF
          - CODE
          - KALI
          - JORFCONT
      description: Objet représentant un modificateur
    Legislature:
      title: Legislature
      type: object
      properties:
        dateDebut:
          type: string
          description: Date de début
          format: date-time
        dateFin:
          type: string
          description: Date de fin
          format: date-time
        id:
          type: string
          description: Identifiant
          example: "14"
        libelle:
          type: string
          description: libellé
          example: XIVème législature
      description: Objet représentant une législature
    LODAListResponse:
      title: LODAListResponse
      type: object
      properties:
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
        legalStatus:
          $ref: '#/components/schemas/Facet'
        natures:
          $ref: '#/components/schemas/Facet'
        results:
          type: array
          description: Liste des résultats de la page
          items:
            $ref: '#/components/schemas/LODAListResult'
        totalResultNumber:
          type: integer
          description: Nombre de résultats
          format: int64
          example: 12
      description: Résultat d'une requête paginée pour lister les textes Lois, Décrets,
        Arrêtés
    SearchResponseDTO:
      title: SearchResponseDTO
      type: object
      properties:
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
        facets:
          type: array
          description: Liste des facettes liées
          items:
            $ref: '#/components/schemas/Facet'
        results:
          type: array
          description: Liste des résultats de la page
          items:
            $ref: '#/components/schemas/SearchResult'
        totalResultNumber:
          type: integer
          description: Nombre de résultats
          format: int64
          example: 1560
        typePagination:
          type: string
          description: Type de pagination. Spécifique pour les recherches dans les
            articles d'un texte spécifique, dans les autres cas la valeur sera toujours
            DEFAULT.
          example: DEFAULT
          enum:
          - DEFAUT
          - ARTICLE
      description: Page des résultats demandée lors d'une recherche paginée
    GetJorfContResponse:
      title: GetJorfContResponse
      type: object
      properties:
        containers:
          type: array
          description: Liste des N derniers conteneurs
          items:
            $ref: '#/components/schemas/Conteneur'
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
        totalNbResult:
          type: integer
          description: Nombre de résultats
          format: int64
          example: 5
      description: Réponse à une requête de N derniers JO
    RelatedLinksArticleRequest:
      title: RelatedLinksArticleRequest
      required:
      - articleId
      type: object
      properties:
        articleId:
          type: string
          description: Identifiant de l'article
          example: LEGIARTI000032207188
      description: requête de récupération des liens de citation d'un article
    ConsultKaliTextResponse:
      title: ConsultKaliTextResponse
      type: object
      properties:
        alias:
          type: string
          description: Alias
        articles:
          type: array
          description: Liste des articles racine du texte. La liste est ordonnée
          items:
            $ref: '#/components/schemas/ConsultArticle'
        cid:
          type: string
          description: Chronical ID du texte
          example: JORFTEXT000000882738
        codesNomenclature:
          type: array
          description: Liste des codes de nomenclature
          items:
            type: string
        conditionDiffere:
          type: string
          description: Condition différée
        conteneurs:
          type: array
          description: Liste des conteneurs du texte
          items:
            $ref: '#/components/schemas/Conteneur'
        dateDebutVersion:
          type: string
          description: Date de début de la version
        dateFinVersion:
          type: string
          description: Date de fin de la version
        dateParution:
          type: string
          description: Date de parution
          format: date-time
        dereferenced:
          type: boolean
          description: Identifie si le contenu est référençable par les robots d'indexation
          example: true
        dossiersLegislatifs:
          type: array
          description: Liste des dossiers legislatifs
          items:
            $ref: '#/components/schemas/DossierLegislatif'
        eli:
          type: string
          description: identifiant européen de la ‎législation ou European Legislation
            Identifier
          example: /eli/arrete/2019/1/18/TREK1901124A/jo/texte
        etat:
          type: string
          description: Etat du texte
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
        id:
          type: string
          description: Identifiant du texte
          example: LEGITEXT000006070994_01-08-2016
        idConteneur:
          type: string
          description: Identifiant du conteneur du texte lorsqu'il en existe un.
        inap:
          type: boolean
          description: INAP
        jorfText:
          type: string
          description: Titre du texte correspondant
        jurisDate:
          type: string
          description: Date d'état juridique
        jurisState:
          type: string
          description: Etat juridique du texte
        liens:
          type: array
          description: Liens
          items:
            $ref: '#/components/schemas/TexteLien'
        modifDate:
          type: string
          description: Date de modification
        motsCles:
          type: array
          description: Liste des mots clés
          example:
          - LIEN FAMILIAL
          - CENTRES SOCIAUX
          items:
            type: string
        nature:
          type: string
          description: Nature
        nor:
          type: string
          description: Numéro NOR
          example: NCCX8900064L
        nota:
          type: string
          description: Nota
        notice:
          type: string
          description: Notice
        numParution:
          type: string
          description: Numéro de parution
        numeroBo:
          type: string
          description: Numéro Bulletin Officiel
        observations:
          type: string
          description: Observations
        originePubli:
          type: string
          description: Origine de la publication
        prepWork:
          type: string
          description: Travaux préparatoires
        rectificatif:
          type: string
          description: Rectificatif
        resume:
          type: string
          description: Résumé
        sections:
          type: array
          description: Liste des sections de premier niveau du texte. La liste est
            ordonnée
          items:
            $ref: '#/components/schemas/ConsultSection'
        signataires:
          $ref: '#/components/schemas/SignataireKali'
        signers:
          type: string
          description: Signataires
        textAbroge:
          type: boolean
          description: Indique si le texte est abrogé
        textNumber:
          type: string
          description: Numéro de texte
        title:
          type: string
          description: Titre du texte
          example: Loi contenant organisation du notariat (loi 25 ventôse an XI)
        typeTexte:
          type: string
          description: Type de texte
          example: TEXTE_BASE
        visa:
          type: string
          description: Visas
      description: Réponse à une requête de consultation d'un texte d'une convention
        collective
    HasChronolegiResponse:
      title: HasChronolegiResponse
      type: object
      properties:
        chronolegiExists:
          type: boolean
          description: Indique si un versionning existe
          example: true
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
      description: Réponse indiquant s'il existe un chronolegi (plusieurs versions)
        pour le texte.
    TexteSimple:
      title: TexteSimple
      type: object
      properties:
        annePublicationBulletin:
          type: string
          description: Année de publication au bulletin
        appliGeo:
          type: string
          description: Portée géographique
          example: NATIONAL
        autorite:
          type: string
          description: Autorité
        avocatGl:
          type: string
          description: Avocat général
        avocats:
          type: string
          description: Avocats
        cid:
          type: string
          description: Chronical ID du texte
        citationJp:
          type: string
          description: Citations jurisprudentielles
        citationJpHtml:
          type: string
          description: Texte HTML des citations jurisprudentielles
        codesNomenclatures:
          type: array
          description: Liste des codes de nomenclature
          items:
            type: string
        commissaire:
          type: string
          description: Commissaire
        conditionDiffere:
          type: string
          description: Condition de différé
          example: Le présent avenant entrera en vigueur le premier jour du mois suivant
            la date de parution du Journal officiel de son arrêté d'extension.
        conteneurs:
          type: array
          description: Liste des conteneurs
          items:
            $ref: '#/components/schemas/Conteneur'
        dateDebut:
          type: string
          description: Date de début
          format: date-time
        dateDerniereModif:
          type: string
          description: Date de dernière modification
          format: date-time
        dateFin:
          type: string
          description: Date de fin
          format: date-time
        dateJo:
          type: string
          description: Date du JO
          format: date-time
        dateLoiDef:
          type: string
          description: Date de signature de la loi déférée
          format: date-time
        datePubli:
          type: string
          description: Date de publication
          format: date-time
        datePubliComputed:
          type: string
          description: Date de publication si la date est valide, vide autrement (elle
            vaut null si la date du texte est null ou >= 2222-01-01)
          format: date-time
        dateTexte:
          type: string
          description: Date du texte
          format: date-time
        dateTexteComputed:
          type: string
          description: Date du texte si la date est valide, vide autrement (elle vaut
            null si la date du texte est null ou >= 2222-01-01)
          format: date-time
        dateVersement:
          type: string
          description: Date de versement
          format: date-time
        decisionAttaquee:
          $ref: '#/components/schemas/DecisionAttaquee'
        dossiersLegislatifs:
          type: array
          description: Liste des dossiers législatifs
          items:
            $ref: '#/components/schemas/DossierLegislatif'
        ecli:
          type: string
          description: ECLI
        emetteur:
          type: string
          description: Emetteur
        etat:
          type: string
          description: Etat juridique
        formation:
          type: string
          description: formation
          example: JX
        id:
          type: string
          description: Identifiant du texte
          example: JURITEXT000037999394
        idConteneur:
          type: string
          description: Identifiant du conteneur
        idEli:
          type: string
          description: Lien ELI
        idEliAlias:
          type: string
          description: Alias ELI
        idTechInjection:
          type: string
          description: Identifiant technique permettant le suivi d'injection du mode
            delta
        idTexteJo:
          type: string
          description: Identifiant du JO
        inap:
          type: boolean
          description: INAP
        juridiction:
          type: string
          description: Juridiction
          example: Cour d'appel de Nancy
        juridictionJudiciaire:
          type: string
          description: Juridiction judiciaire
          example: Juridictions d'appel
        lienJo:
          type: string
          description: Lien vers le JO
        liens:
          type: array
          description: Liste de liens vers d'autres textes
          items:
            $ref: '#/components/schemas/TexteLien'
        ministere:
          type: string
          description: Ministere
        motsCles:
          type: array
          description: Liste des mots clés
          items:
            type: string
        nature:
          type: string
          description: Nature du texte
          example: ARRET
        natureDelib:
          type: string
          description: Nature de la délibération
          example: AUTORISATION DE TRANSFERTS
        natureJuridiction:
          type: string
          description: Nature de la juridiction
          example: Cour d'appel
        natureNumero:
          type: string
        natureQualifiee:
          type: string
          description: Nature qualifiée
        nor:
          type: string
          description: Numéro NOR
        nota:
          type: string
          description: Notas
        notaHtml:
          type: string
          description: Texte HTML des notas
        notice:
          type: string
          description: Notice
        noticeHtml:
          type: string
          description: Texte HTML de la notice
        num:
          type: string
          description: Numéro du texte
        numJo:
          type: string
          description: Numéro du JO
        numLoiDef:
          type: string
          description: Numéro de la loi déférée
          example: 2001-419
        numParution:
          type: string
          description: Numéro de parution
        numTexteJo:
          type: string
          description: Numéro du texte JO
        numeroAffaire:
          type: array
          description: Liste des numéros d'affaire
          example:
          - 17/030701
          - 17/030702
          items:
            type: string
        numeroBo:
          type: string
          description: Numéro BO
        numeroPublicationBulletin:
          type: string
          description: Numéro de publication au bulletin
        numsequence:
          type: string
          description: Numéro de séquence
        observations:
          type: string
          description: Observations d'une directive européenne
        origine:
          type: string
          description: Origine du texte
          example: JURI
        originePubli:
          type: string
          description: Origine de la publication
        president:
          type: string
          description: Président
        provenance:
          type: string
          description: provenance
          example: CAPP
        publicationRecueil:
          type: string
          description: Indique la publication au recueil Lebon
          example: C
        rapporteur:
          type: string
          description: Rapporteur
        rectificatif:
          type: string
          description: Rectificatif d'une directive européenne
        refInjection:
          type: string
          description: référence permettant le suivi d'injection du mode delta
        relevantDate:
          type: string
          description: Contient la date du texte si elle existe (!= null && != 2999-01-01)
            sinon contient la date de publication  pour les texte
          format: date-time
        resume:
          type: string
          description: Résumé d'une directive européenne
        resumeHtml:
          type: string
          description: Texte HTML des résumés de directive européenne
        siegeAppel:
          type: string
          description: Siège d'appel
          example: NANCY
        signataireKali:
          $ref: '#/components/schemas/SignataireKali'
        signataires:
          type: string
          description: Signataires
        signatairesHtml:
          type: string
          description: Texte HTML des signataires
        solution:
          type: string
          description: Solution
        sommaire:
          type: array
          description: Liste des éléments de sommaire
          items:
            $ref: '#/components/schemas/TexteSommaire'
        texte:
          type: string
          description: Contenu du texte
        texteHtml:
          type: string
          description: Texte au format HTML
        titre:
          type: string
          description: Titre du texte
        titreJo:
          type: string
          description: Titre du JO lié
        titreLoiDef:
          type: string
          description: Titre de la loi déférée
        titreLong:
          type: string
          description: Titre long du texte
        travauxPreparatoires:
          type: string
          description: Travaux préparatoires
        travauxPreparatoiresHtml:
          type: string
          description: Texte HTML des travaux préparatoires
        typeControleNormes:
          type: string
          description: Type de contrôle
          example: Contrôle de constitutionnalité
        typeDecision:
          type: string
          description: Type de décision
        typePublicationBulletin:
          type: string
          description: Type de publication
        typeTexte:
          type: string
          description: Type de texte
          example: TEXTE_BASE
          enum:
          - TEXTE_ATTACHE
          - TEXTE_BASE
          - TEXTE_SALAIRE
          - TEXTE_EXTENSION
        urlCC:
          type: string
          description: Chemin vers la convention collective
        version:
          type: string
          description: Version
        visas:
          type: string
          description: Visas
        visasHtml:
          type: string
          description: Texte HTML des visas
      description: Objet représentant un texte simple
    ArticleVersion:
      title: ArticleVersion
      type: object
      properties:
        dateDebut:
          type: string
          description: Date de début de la version
          format: date-time
        dateFin:
          type: string
          description: Date de fin de la version
          format: date-time
        etat:
          type: string
          description: Etat juridique
        id:
          type: string
          description: Identifiant de l'article
        numero:
          type: string
          description: Numéro de l'article
        ordre:
          type: integer
          description: Numéro d'ordre de l'article. Sert au tri des articles au sein
            de leur élément parent (section ou texte)
          format: int32
        version:
          type: string
          description: Version
      description: Objet représentant les métadonnées d'une version d'un article
    DossierLegislatif:
      title: DossierLegislatif
      type: object
      properties:
        ancienId:
          type: string
          description: Ancien ID
          example: JORFDOLE000028196699
        arborescence:
          $ref: '#/components/schemas/Arborescence'
        dateCreation:
          type: string
          description: Date de création
          format: date-time
        dateDerniereModification:
          type: string
          description: Date de dernière modification
          format: date-time
        dossiers:
          type: array
          description: Liste des dossiers
          items:
            $ref: '#/components/schemas/Dossier'
        echeancier:
          type: string
          description: Echéancier
        exposeMotif:
          type: string
          description: Texte html des motifs
        id:
          type: string
          description: Identifiant du dossier
          example: JORFDOLE000028196681
        idTechInjection:
          type: string
          description: Identifiant technique de l'élément injecté
        legislature:
          $ref: '#/components/schemas/Legislature'
        nature:
          type: string
          description: nature
        origine:
          type: string
          description: Origine
          example: JORF
        refInjection:
          type: string
          description: Référence technique permettant d'identifier la date d'injection
        titre:
          type: string
          description: Titre du dossier legislatif
          example: LOI n° 2013-1279 du 29 décembre 2013 de finances rectificative
            pour 2013
        type:
          type: string
          description: type
          example: LOI_PUBLIEE
        url:
          type: string
          description: chemin relatif vers le fichier xml
      description: Objet représentant un dossier législatif
    Lien:
      title: Lien
      type: object
      properties:
        data:
          type: string
          description: Texte associé
        id:
          type: string
          description: Identifiant du lien
          example: "1415810924079"
        libelle:
          type: string
          description: Libellé
          example: Dossier législatif du Sénat
        lien:
          type: string
          description: Lien vers le dossier législatif
          example: http://www.senat.fr/dossier-legislatif/pjl14-096.html
      description: Objet représentant un lien dans l'arborescence d'un dossier législatif
    DossierLegislatifResult:
      title: DossierLegislatifResult
      type: object
      properties:
        dateCreation:
          type: string
          description: Date de création
          example: 2019-01-21
        dateDerniereModification:
          type: string
          description: Date de dernière modification
          example: 2019-01-21
        dossiers:
          type: array
          description: Liste des dossiers
          items:
            $ref: '#/components/schemas/DossierResult'
        id:
          type: string
          description: Identifiant
          example: JORFDOLE000037460423
        titre:
          type: string
          description: Titre
          example: LOI n° 2019-30 du 20 janvier 2019 habilitant le Gouvernement à
            prendre par ordonnance les mesures de préparation au retrait du Royaume-Uni
            de l'Union européenne
        type:
          type: string
          description: Type
          example: LOI_PUBLIEE
      description: Objet représentant le résultat d'un dossier législatif
    AdressePostale:
      title: AdressePostale
      type: object
      properties:
        codePostal:
          type: string
          description: Code postal
          example: "75005"
        ville:
          type: string
          description: Ville
          example: PARIS
      description: Objet représentant une adresse postale
    ConsultJorfResponse:
      title: ConsultJorfResponse
      type: object
      properties:
        alias:
          type: string
          description: Alias
        articles:
          type: array
          description: Liste des articles racine du texte. La liste est ordonnée
          items:
            $ref: '#/components/schemas/ConsultArticle'
        cid:
          type: string
          description: Chronical ID du texte
          example: JORFTEXT000000882738
        dateDebutVersion:
          type: string
          description: Date de début de la version
        dateFinVersion:
          type: string
          description: Date de fin de la version
        dateParution:
          type: string
          description: Date de parution
          format: date-time
        dereferenced:
          type: boolean
          description: Identifie si le contenu est référençable par les robots d'indexation
          example: true
        dossiersLegislatifs:
          type: array
          description: Liste des dossiers legislatifs
          items:
            $ref: '#/components/schemas/DossierLegislatif'
        eli:
          type: string
          description: identifiant européen de la ‎législation ou European Legislation
            Identifier
          example: /eli/arrete/2019/1/18/TREK1901124A/jo/texte
        etat:
          type: string
          description: Etat du texte
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
        id:
          type: string
          description: Identifiant du texte
          example: LEGITEXT000006070994_01-08-2016
        idConteneur:
          type: string
          description: Identifiant du conteneur du texte lorsqu'il en existe un.
        inap:
          type: boolean
          description: INAP
        jorfFileMetadata:
          type: array
          description: Liste des métadonnées des fichiers attachés au document
          items:
            $ref: '#/components/schemas/FileMetadata'
        jorfText:
          type: string
          description: Titre du texte correspondant
        jurisDate:
          type: string
          description: Date d'état juridique
        jurisState:
          type: string
          description: Etat juridique du texte
        liens:
          type: array
          description: Liens
          items:
            $ref: '#/components/schemas/TexteLien'
        modifDate:
          type: string
          description: Date de modification
        motsCles:
          type: array
          description: Mots-clés
          items:
            type: string
        nature:
          type: string
          description: Nature
        nor:
          type: string
          description: Numéro NOR
          example: NCCX8900064L
        nota:
          type: string
          description: Nota
        notice:
          type: string
          description: Notice
        numParution:
          type: string
          description: Numéro de parution
        observations:
          type: string
          description: Observations
        prepWork:
          type: string
          description: Travaux préparatoires
        rectificatif:
          type: string
          description: Rectificatif
        resume:
          type: string
          description: Résumé
        sections:
          type: array
          description: Liste des sections de premier niveau du texte. La liste est
            ordonnée
          items:
            $ref: '#/components/schemas/ConsultSection'
        signers:
          type: string
          description: Signataires
        textAbroge:
          type: boolean
          description: Indique si le texte est abrogé
        textNumber:
          type: string
          description: Numéro de texte
        title:
          type: string
          description: Titre du texte
          example: Loi contenant organisation du notariat (loi 25 ventôse an XI)
        visa:
          type: string
          description: Visas
      description: Réponse à une requête de consultation d'un texte JORF
    JuriConsultRequest:
      title: JuriConsultRequest
      required:
      - textId
      type: object
      properties:
        textId:
          type: string
          description: Identifiant du texte
          example: JURITEXT000037999394
      description: requête de consultation d'un texte de Jurisprudence judiciaire
    LODAListResult:
      title: LODAListResult
      type: object
      properties:
        cid:
          type: string
          description: Chronical ID
          example: JORFTEXT000033279563
        dateDebut:
          type: string
          description: Date de début
          format: date-time
        dateFin:
          type: string
          description: Date de fin
          format: date-time
        dossiersLegislatifs:
          type: array
          description: Liste des dossiers législatifs
          items:
            $ref: '#/components/schemas/DossierLegislatif'
        etat:
          type: string
          description: Etat juridique
          example: VIGUEUR
        id:
          type: string
          description: Identifiant unique
          example: LEGITEXT000033280430
        lastUpdate:
          type: string
          description: Date de dernière mise à jour
          format: date-time
        titre:
          type: string
          description: Titre
          example: Ordonnance n° 2016-1406 du 20 octobre 2016 portant adaptation et
            simplification de la législation relative à l'Etablissement français du
            sang et aux activités liées à la transfusion sanguine
      description: Objet représentant un résultat LODA
    SignataireKali:
      title: SignataireKali
      type: object
      properties:
        adhesion:
          type: string
          description: Adhésion
        denonciation:
          type: string
          description: Dénonciation
        execution:
          type: string
          description: Exécution
        faitA:
          type: string
          description: Fait A
        patron:
          type: string
          description: Patronat
        signExt:
          type: string
          description: Signataire extérieur
        syndic:
          type: string
          description: Syndicat
      description: Objet représentant un signataire KALI
    ConventionsListRequest:
      title: ConventionsListRequest
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        keyWords:
          type: array
          description: Liste des mots clés à filtrer
          example:
          - ABATTOIRS
          - CHAUX HYDRAULIQUES
          items:
            type: string
        legalStatus:
          type: array
          description: Liste des états juridique à filtrer
          example:
          - VIGUEUR
          - ABROGE
          - VIGUEUR_DIFF
          items:
            type: string
            enum:
            - VIGUEUR
            - ABROGE_DIFF
            - VIGUEUR_DIFF
            - VIGUEUR_ETEN
            - ABROGE
            - PERIME
            - ANNULE
            - MODIFIE
            - DISJOINT
            - SUBSTITUE
            - TRANSFERE
            - INITIALE
            - MODIFIE_MORT_NE
            - SANS_ETAT
            - DENONCE
            - REMPLACE
            - VIGUEUR_NON_ETEN
        pageNumber:
          type: integer
          description: Numéro de la page à consulter
          format: int32
          example: 1
        pageSize:
          type: integer
          description: Nombre de résultats par page (max 100)
          format: int32
          example: 10
        searchValue:
          type: string
          description: Texte à rechercher dans les titres ou IDCC permettant de filtrer
            le résultat
          example: Industrie
        sort:
          type: string
          description: Ordre de tri
          example: DATE_PUBLI_ASC
          enum:
          - DATE_UPDATE
          - DATE_PUBLI_ASC
          - DATE_PUBLI_DESC
      description: Requête paginée pour lister les conventions collectives
    FullConteneur:
      title: FullConteneur
      type: object
      properties:
        ancienId:
          type: string
          description: Ancien Identifiant
        datePubli:
          type: string
          description: Date de publication
          format: date-time
        etat:
          type: string
          description: Etat juridique du conteneur
        id:
          type: string
          description: Identifiant du conteneur
          example: JORFCONT000038052140
        idEli:
          type: string
          description: Identifiant ELI
          example: /eli/jo/2019/1/25/0021
        idTechInjection:
          type: string
          description: Identifiant technique de l'élément injecté
        nature:
          type: string
          description: Nature du conteneur
          example: JO
        num:
          type: string
          description: Numéro de JO
          example: "0021"
        numero:
          type: string
        origine:
          type: string
          description: Origine
          example: JORF
        refInjection:
          type: string
          description: Référence technique permettant d'identifier la date d'injection
        relevantDate:
          type: string
          format: date-time
        structure:
          $ref: '#/components/schemas/StructureTxt'
        titre:
          type: string
          description: Titre
          example: JORF n°0021 du 25 janvier 2019
        url:
          type: string
          description: chemin vers le conteneur
          example: conteneur/JORF/CONT/00/00/38/05/21/JORFCONT000038052140.xml
      description: Objet représentant un conteneur
    SuggestSupplyRequest:
      title: SuggestSupplyRequest
      type: object
      properties:
        searchText:
          type: string
          description: Texte à rechercher
          example: mariage
        supplies:
          type: array
          description: Liste des fonds dans lesquels exécuter la recherche pour la
            suggestion
          example:
          - JORF
          - JURI
          items:
            type: string
            enum:
            - ALL
            - ALL_SUGGEST
            - LODA_LIST
            - CODE_LIST
            - CODE_RELEASE_DATE
            - CODE_RELEASE_DATE_SUGGEST
            - CODE_LEGAL_STATUS
            - LODA_RELEASE_DATE
            - LODA_RELEASE_DATE_SUGGEST
            - LODA_LEGAL_STATUS
            - KALI
            - KALI_TEXT
            - CONSTIT
            - CETAT
            - JURI
            - JORF
            - JORF_SUGGEST
            - CNIL
            - ARTICLE
            - CIRC
            - ACCO
      description: Requête de suggestion d'une recherche textuelle dans un ou plusieurs
        fonds
    SearchNearestVersionRequest:
      title: SearchNearestVersionRequest
      required:
      - cidText
      - date
      type: object
      properties:
        cidSection:
          type: string
          description: Chronical ID de la section
          example: LEGISCTA000006117894
        cidText:
          type: string
          description: Chronical ID du texte
          example: LEGITEXT000006070721
        date:
          type: string
          description: Date de référence pour la recherche
          format: date-time
      description: Requête de récupération de la version d'un texte (et d'une section)
        la plus proche d'une date demandée
    Circulaire:
      title: Circulaire
      type: object
      properties:
        annexes:
          type: string
          description: Annexes
          example: "4"
        attachment:
          $ref: '#/components/schemas/Attachment'
        attachmentName:
          type: string
          description: Nom du fichier PDF lié
          example: cir_44128.pdf
        attachmentUrl:
          type: string
          description: Chemin vers le fichier PDF
        auteur:
          type: string
          description: Auteur
          example: Le ministre de l'éducation nationale et de la jeunesse
        categories:
          type: array
          description: Liste des catégories
          items:
            type: string
        data:
          type: string
          description: Contenu du fichier en base64
        dateDepot:
          type: string
          description: Date de dépôt
          format: date-time
        dateExport:
          type: string
          description: Date d'export
          format: date-time
        dateMiseApplication:
          type: string
          description: Date de mise en application
          format: date-time
        dateOpposabilite:
          type: string
          description: Date de déclaration d'opposabilité
          format: date-time
        dateSignature:
          type: string
          description: Date de signature
          format: date-time
        destinataire:
          type: string
          description: Destinataire
        domaines:
          type: array
          description: Liste des domaines
          example:
          - Jeunesse, sports, vie associative
          items:
            type: string
        emailDeposant:
          type: string
          description: Email déposant
        etat:
          type: string
          description: Etat
          example: V
        id:
          type: string
          description: Identifiant
          example: "44128"
        idTechInjection:
          type: string
          description: Identifiant technique de l'élément injecté
        ministeresDeposants:
          type: array
          description: Liste des ministères déposants
          items:
            type: string
        motsCles:
          type: array
          description: Liste des mots clés
          example:
          - Enseignement, Education  et Sciences et techniques
          items:
            type: string
        motsClesLibres:
          type: string
          description: Liste des mots clés libres
          example: périscolaire ; accueils collectifs de mineurs ; Plan mercredi
        nor:
          type: string
          description: Numéro NOR
          example: MENV1829930J
        numeroCerfa:
          type: string
          description: Numéro CERFA
        numeroInterne:
          type: string
          description: Numéro interne
          example: 2018-139
        opposable:
          type: string
          description: Indique si la circulaire est opposable
          example: O
        origine:
          type: string
          description: Origine
          example: CIRC
        refInjection:
          type: string
          description: Référence technique permettant d'identifier la date d'injection
        referencePublicationJoBo:
          type: string
          description: Référence de publication
          example: "7293"
        relevantDate:
          type: string
          format: date-time
        remplace:
          type: string
          example: 'À compter du 15 décembre 2017 : Instruction n° 225/DEF/TM/T du
            29 mars 1995 (BOC, p. 1661 ; BOEM 404.3.3).'
        resume:
          type: string
          description: Résumé
        signataire:
          type: string
          description: Signataire
          example: A LAURENT, SG-MCAS, JP VINQUANT, DGCS et A BURSTIN, Directrice
            de la CNSA
        sizeToDisplay:
          type: string
          description: Taille du fichier PDF avec son unité
          example: 629,7 Ko
        tailleFichierPdf:
          type: integer
          description: Taille du fichier PDF en octets
          format: int64
          example: 644810
        textesReferences:
          type: array
          description: Liste des textes de référence
          items:
            $ref: '#/components/schemas/TexteReference'
        titre:
          type: string
          description: Titre de la circulaire
          example: Instruction relative à la mise en oeuvre du Plan mercredi
        typeGouv:
          type: string
          example: oui
        typeService:
          type: string
          example: oui
        utilisateurDeposantMinistere:
          type: string
          description: Nom du ministère déposant
          example: MEN - Education nationale
        utilisateurDeposantMinistereCode:
          type: integer
          description: Code du ministère déposant
          format: int64
          example: 7
      description: Objet représentant une circulaire
    ElasticData:
      title: ElasticData
      type: object
      properties:
        indexName:
          type: string
          description: Nom de l'index
          example: data_next_juri
        lastIndex:
          type: string
          description: Date du dernier document indexé
          format: date-time
        nbDoc:
          type: integer
          description: Nombre de documents
          format: int64
          example: 992978
        usage:
          type: string
          description: Description de l'usage de l'index
          example: Consultation et recherche des fonds JURI,CETA et CONSTIT
      description: Objet représentant les informations d'un index
    CodeConsultRequest:
      title: CodeConsultRequest
      required:
      - date
      - textId
      type: object
      properties:
        date:
          type: string
          description: Date de consultation
          format: date-time
        sctCid:
          type: string
          description: Chronical ID de la section a consulter (Non requis pour la
            consultation de la table des matières sinon obligatoire)
          example: LEGISCTA000006112861
        textId:
          type: string
          description: Chronical ID du texte
          example: JORFTEXT000000882738
      description: requête de consultation d'un texte du fonds CODE.
    SuggestValue:
      title: SuggestValue
      type: object
      properties:
        dateVersion:
          type: string
          description: Date de la version retournée par la suggestion
          format: date-time
        id:
          type: string
          description: Identifiant du texte/section/article
          example: JORFTEXT000000320201
        label:
          type: string
          description: Titre à afficher
          example: 'Ordonnance du 18 juillet 1944 FORCES BRITANNIQUES : MARIAGE SUR
            LE TERRITOIRE FRANCAIS'
        nature:
          type: string
          description: Nature de l'élément lié
          example: ordonnance
        origin:
          type: string
          description: Origine
          example: JORF
      description: Objet représentant une suggestion
    ArticleRequest:
      title: ArticleRequest
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Identifiant de l'article
          example: LEGIARTI000006307920
      description: Requête pour récupérer un article par son identifiant
    ChronoLegiTextRequest:
      title: ChronoLegiTextRequest
      required:
      - dateConsult
      - endYear
      - startYear
      - textCid
      type: object
      properties:
        dateConsult:
          type: string
          description: Date de référence
          format: date-time
        endYear:
          type: integer
          description: Année de fin de chargement des détails
          format: int32
          example: 2018
        startYear:
          type: integer
          description: Année de début de chargement des détails
          format: int32
          example: 2015
        textCid:
          type: string
          description: Chronical ID du texte
          example: LEGITEXT000006070721
      description: requête de consultation d'un chronolegi. Le Chronolegi complet
        du texte est retourné cependant, seulement la période startYear<=>endYear
        aura le détail des versions chargé.
    ConventionsListResponse:
      title: ConventionsListResponse
      type: object
      properties:
        executionTime:
          type: integer
          description: Temps d'exécution
          format: int64
        legalStatus:
          $ref: '#/components/schemas/Facet'
        moteCles:
          $ref: '#/components/schemas/Facet'
        results:
          type: array
          description: Liste des résultats de la page
          items:
            $ref: '#/components/schemas/ConventionsListResult'
        totalResultNumber:
          type: integer
          description: Nombre de résultats
          format: int64
          example: 12
      description: Résultat d'une requête paginée pour lister les textes des conventions
        collectives
    Article:
      title: Article
      type: object
      properties:
        activitePro:
          type: array
          description: Liste des activités
          items:
            type: string
        articleVersions:
          type: array
          description: Liste des versions de l'article
          items:
            $ref: '#/components/schemas/ArticleVersion'
        calipsos:
          type: array
          description: Liste des calipsos
          items:
            type: string
        cid:
          type: string
          description: Chronical ID
          example: LEGIARTI000006307893
        cidTexte:
          type: string
          description: Chronical ID du texte
        computedNums:
          type: array
          description: Liste des numéros de l'article
          items:
            type: string
        conditionDiffere:
          type: string
          description: Condition différée => Spécifique conventions collectives
        conteneurs:
          type: array
          description: Liste d'id de conteneurs
          items:
            $ref: '#/components/schemas/Conteneur'
        context:
          $ref: '#/components/schemas/Context'
        dateDebut:
          type: string
          description: Date de début
          format: date-time
        dateDebutExtension:
          type: string
          description: Date de début si extension
          format: date-time
        dateFin:
          type: string
          description: Date de fin
          format: date-time
        dateFinExtension:
          type: string
          description: Date de fin si extension
          format: date-time
        etat:
          type: string
          description: Etat juridique
          example: MODIFIE_MORT_NE
        fullSectionsTitre:
          type: string
          description: Concaténation de l'ensemble des titres de la chaine parente
        historique:
          type: string
          description: Historique => Spécifique conventions collectives
        id:
          type: string
          description: Identifiant de l'article
          example: LEGIARTI000006307920
        idEli:
          type: string
          description: Identifiant ELI
        idEliAlias:
          type: string
          description: Alias ELI
        idTechInjection:
          type: string
          description: Identifiant technique de l'élément injecté
        idTexte:
          type: string
          description: Identifiant du texte
        inap:
          type: string
          description: INAP
        lienAutres:
          type: array
          description: Autres liens de l'article
          items:
            $ref: '#/components/schemas/Lien'
        lienCitations:
          type: array
          description: Liste des liens de citation de l'article
          items:
            $ref: '#/components/schemas/LienCitation'
        lienConcordes:
          type: array
          description: Liste des liens de concordance de l'article
          items:
            $ref: '#/components/schemas/LienConcorde'
        lienModifications:
          type: array
          description: Liste des liens de modification de l'article
          items:
            $ref: '#/components/schemas/LienModification'
        nature:
          type: string
          description: Nature
          example: Article
        nota:
          type: string
          description: Contenu nota
        notaHtml:
          type: string
          description: Contenu nota au format HTML
        num:
          type: string
          description: Numéro de l'article
          example: "156"
        numeroBo:
          type: string
          description: Numéro du bulletin officiel
        numeroBrochure:
          type: array
          description: Liste des numéros de brochure
          items:
            type: string
        ordre:
          type: integer
          description: Numéro d'ordre permettant le tri des articles dans leur élément
            parent.
          format: int64
          example: 644235
        origine:
          type: string
          description: Origine
          example: LEGI
        refInjection:
          type: string
          description: Référence technique permettant d'identifier la date d'injection
        sectionParentCid:
          type: string
          description: Chronical ID de la section parente
          example: LEGISCTA000006191588
        sectionParentId:
          type: string
          description: Identifiant technique de la section parente
          example: LEGISCTA000006191588
        sectionParentTitre:
          type: string
          description: Titre de la section parente
          example: 'I : Revenu imposable'
        surtitre:
          type: string
          description: Surtitre => Spécifique conventions collectives
        textTitles:
          type: array
          description: Liste des versions du texte contenant l'article
          items:
            $ref: '#/components/schemas/TextTitle'
        texte:
          type: string
          description: Contenu textuel de l'article
        texteHtml:
          type: string
[...]
